.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(229, 228, 229, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 1000;
  overflow: hidden;
}
